# === Python bytecode / cache ===
__pycache__/
*.py[cod]
*$py.class

# === Virtual environments ===
.venv/
venv/
env/
ENV/
.ENV/
.venv.bak/
venv.bak/

# === Packaging / build artifacts ===
build/
dist/
*.egg-info/
.eggs/

# === Test / coverage ===
.pytest_cache/
.coverage
htmlcov/
.tox/

# === PLY generated tables ===
parsetab.py
parser.out

# === OS junk ===
.DS_Store
Thumbs.db

# === Editors / IDEs ===
.vscode/
.idea/
*.iml

# === Logs ===
*.log

# === inputs && outputs ===
# input.txt
input.token
*.token
*.symbols
*.records
*.functions
